/* -------------------------------------- */
/* ############### NOTIFY ############### */
/* -------------------------------------- */
.card .fileuploader {
  margin: 0; }

.block-failure-mode .row {
  margin-left: 0;
  margin-right: 0; }
