@font-face {
    font-family: "CaviarDreams";
    src: url("./../fonts/Lusitana-Regular.ttf");
}

@font-face {
    font-family: "BrownStd";
    src: url("./../fonts/BrownStdRegular.otf");
}

@font-face {
    font-family: "BrownStdLight";
    src: url("./../fonts/BrownStdLight.otf");
}

@font-face {
    font-family: "GaramondPremrPro";
    src: url("./../fonts/GaramondPremrPro.otf");
}

.container-fluid.top-main{
    padding-left: 0;
    padding-right: 0;
}

p{
    font-family: GaramondPremrPro,sans-serif; 
}

p, p a{
    color: #797777; 
}

.rte-setting p a{
    font-family: BrownStdLight,sans-serif; 
}

body {
    font-family: BrownStd !important;
    font-size: 14px;
    text-transform: none;
    color: #000;
    font-weight: 400;
}

.main-img-seaction{
    height: 600px;
    max-height: 600px;
    object-fit: cover;
}
.product-details .h4{
    font-weight: 600;
    font-size: 16px;
}

.password-table .password-cell:first-child {
    background: url('../images/153143551_149794660297892_1368277022498166510_n.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover;
}

#siteNav > li .megamenu li.lvl-1 li .site-nav label:hover{
    border-bottom: 1px solid #000;
}

#siteNav > li .megamenu li.lvl-1 li .site-nav label{
    cursor: pointer;
}

#siteNav > li{
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
}

#siteNav > li > a:hover{
    border-bottom: 1px solid #000;
}

.addressFooter li a{
    color: #fff;
}

.addressFooter li a:hover{
    text-decoration: unset;
}

ul.main-list{
    list-style-type: circle;
}

ul.main-list{
    padding-left: 30px;
}



@media (max-width: 575px) {
    .main-img-seaction{
        max-height: 260px;
        width: 100%;
    }
}